body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2b2e32, #3e4348);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

.quote-container {
    height: 100px; /* 고정된 높이 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    transition: height 0.5s ease; /* 부드러운 전환 */
}

p {
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease; /* 부드러운 전환 */
}

#author {
    font-style: italic; /* 저자명 기울임 */
    margin-top: 10px;
}
